.DS_Store
making-mistakes/assets/slides.psd
making-mistakes/assets/making-mistakes-abbreviated-for-slidedeck.pdf
making-mistakes/assets/making-mistakes-abbreviated-for-slidedeck.key
making-mistakes/assets/Making-Mistakes.key
